.header {
    height: 60px;
    align-items: flex-end;
    justify-content: center;
    padding: 0 136px;
}

.headerWrapper {
    color: #000;
}


.headerWrapper .headerButton {
    width: 113px;
    height: 36px;
    margin-right: 136px;
    background-color: #8C61FF;
    border-radius: 4px;
}

.personalInformation {
    display: flex;
    align-items: center;
}

.headerPersonalName {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px dashed #fff;
    position: relative;
    cursor: pointer;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 12px;
}