.wrapper {
    position: relative;
}

.hidePassword{
    position: absolute;
    top: 11px;
    right: 15px;
}

.iconEye {
    width: 22px;
    height: 15px;
}

.openPassword {
    position: absolute;
}

.openPassword:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 24px;
    bottom: 11px;
    right: 0;
    opacity: .6;
    background-color: #151515;
    transform: rotate(45deg);
    cursor: pointer;
}
