/*.checkbox {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: 24px 0 0;*/
/*}*/

/*.checkbox label {*/
/*    margin: 0 0 -10px 30px;*/
/*}*/

a {
    text-decoration-line: underline;
    color: #366EFF;
    margin-top: 10px;
}


.inputBlock {
    position: relative;
}

form .signInButton {
    margin-top: 69px;
    background-color: #8C61FF;
    border-radius: 4px;
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 30px;
}

.forgotPassword {
    align-self: flex-end;
    margin-top: 30px;
}

.forgotPassword a {
    color: #000;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: none;
}