.button {
    width: 100%;
    height: 36px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    background-color: #366EFF !important;
}