.container {
    display: flex;
    align-items: center;
    margin: 24px 0 0;
}

.container label {
    margin: 0 0 -10px 30px;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
    margin: 8px 10px 0 -132px;
    padding: 0;
}